{% extends "base.html" %}

{% block title %}Project Purple Cow{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='button.js') }}"></script>

    <script>
        $(document).ready(function() {
            //Register the button to print results to #results
            registerButton("button1", function(response) {
                $("#results").text(response);
            });
        });
    </script>
{% endblock %}

{% block header %}
    <h1>Project Purple Cow</h1>
{% endblock %}

{% block content %}
    <p>Press the button below to increment and display the counter.</p>
    <p><a href="/multi">Click here</a> to view an example with multiple buttons to show code reusability.</p>
    <table>
        <tr>
            <td><button type="button" class="btn btn-primary" id="button1">Hit the Counter!</button></td>
            <td id="results"></td>
        </tr>
    </table>
{% endblock %}